server:
  port: 8080

spring:
  application:
    name: apigateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # ROLE SERVICE (your request)
        - id: role-service
          uri: lb://role-service
          predicates:
            - Path=/roles/**
        # USER SERVICE
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
